@define-color base-bg     rgba(16, 14, 7, 0.46);
@define-color base-bg-dark rgba(16, 14, 7, 0.62);
@define-color base-hover  #d5c871;
@define-color icon-fg     #e7e2d5;

* {
    background-image: none;
    font-size: 21px;
}

window {
    background-color: transparent;
}

/* ============ Nút chung ============ */
button {
    color: @icon-fg;
    background-color: @base-bg;
    outline-style: none;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;

    background-repeat: no-repeat;
    background-position: calc(50% + 0px) calc(50% + 0px);
    background-size: 24%;
    transition: none;
}

button:focus {
    background-color: @base-bg;
    background-size: 24%;
    box-shadow: none;
}

button:hover {
    background-color: @base-hover;
    background-size: 56%;
}

button:hover#logout {
    background-color: @base-hover;
    background-position: calc(50% - 20px) calc(50% - 20px);
    box-shadow: -20px -20px 0 20px @base-hover;
}

button:hover#suspend {
    background-color: @base-hover;
    background-position: calc(50% + 20px) calc(50% - 20px);
    box-shadow: 20px -20px 0 20px @base-hover;
}

button:hover#shutdown {
    background-color: @base-hover;
    background-position: calc(50% - 20px) calc(50% + 20px);
    box-shadow: -20px 20px 0 20px @base-hover;
}

button:hover#reboot {
    background-color: @base-hover;
    background-position: calc(50% + 20px) calc(50% + 20px);
    box-shadow: 20px 20px 0 20px @base-hover;
}

/* ============ Từng nút============ */
#logout {
    background-color: @base-bg-dark;
    background-image: url("/home/natto/.config/wlogout/icons/logout.svg");
    border-radius: 60px 60px 0px 60px;
    margin: 180px 0px 0px 470px;
}

#suspend {
    background-color: @base-bg;
    background-image: url("/home/natto/.config/wlogout/icons/suspend.svg");
    border-radius: 60px 60px 60px 0px;
    margin: 180px 470px 0px 0px;
}

#shutdown {
    background-color: @base-bg;
    background-image: url("/home/natto/.config/wlogout/icons/shutdown.svg");
    border-radius: 60px 0px 60px 60px;
    margin: 0px 0px 180px 470px;
}

#reboot {
    background-color: @base-bg-dark;
    background-image: url("/home/natto/.config/wlogout/icons/reboot.svg");
    border-radius: 0px 60px 60px 60px;
    margin: 0px 470px 180px 0px;
}
